nav {
  display: flex;
  justify-content: space-around;
  padding: 25px 15px;
}

.char-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 25px 0;
  width: 40%;
  box-shadow: 20px 20px 20px grey;
  border-radius: 10px;
  background-color: beige;
}

.char-card img {
  border-radius: 10px 10px;
}

span {
  font-weight: 600;
  font-size: 20px;
}

.location-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: 1px solid red;
  margin: 25px 0;
  width: 40%;
  padding: 20px 0;
  font-size: 15px;
}

.char-card img {
  margin-bottom: 10px;
}
